<div class="width-wrapper">

    {% if data.slides.slides.home is defined %}
    <div id="content-slider">
        {{ include('helper/slider.twig', {slides: data.slides.slides.home.images}, with_context = false) }}
    </div>
    {% endif %}

    <section class="row clearfix">
        <div class="placeholder-300 slider">
            {% if data.slides.slides.left is defined %}
            {{ include('helper/slider.twig', {slides: data.slides.slides.left.images}, with_context = false) }}
            {% endif %}
        </div>
        {% if data.slides.slides.center is defined %}
            <div class="placeholder-300 slider">
                {% if data.slides.slides.center is defined %}
                    {{ include('helper/slider.twig', {slides: data.slides.slides.center.images}, with_context = false) }}
                {% endif %}
            </div>
        {% else %}
            <div class="placeholder-300">
                <div id='gpt-rd-box'>
                    <script type='text/javascript'>
                        googletag.cmd.push(function () {
                            googletag.display('gpt-rd-box');
                        });
                    </script>
                </div>
            </div>
        {% endif %}
        <div class="placeholder-300 slider">
            {% if data.slides.slides.right is defined %}
            {{ include('helper/slider.twig', {slides: data.slides.slides.right.images}, with_context = false) }}
            {% endif %}
        </div>
    </section>
</div>
{% set movies = nowPlayingComingSoon(data.movies.movies, data.showdates) %}
{%  if  movies.np is not empty %}
<div class="carousel-container">
    <section class="carousel clearfix">
        <h1>Now Playing</h1>
        <div id="carousel-np">
            {{ include('helper/carousel.twig', {carousel: movies.np}, with_context = false) }}
        </div>
    </section>
</div>
{% endif %}
{%  if  movies.cs is not empty %}
<div class="carousel-container">
    <section class="carousel clearfix">
        <h1>Coming Soon</h1>
        <div id="carousel-cs">
            {{ include('helper/carousel.twig', {carousel: movies.cs}, with_context = false) }}
        </div>
    </section>
</div>
{% endif %}