{#{% for slide in slides %}#}
    {#{% if slide.image is not null %}#}
        {#<figure class='slide'>#}
            {#<a href='{{- slide.url -}}' target='{{- slide.target -}}'>#}
                {#<img src='{{- slide.image -}}' alt='{{- slide['altTag'] -}}'/>#}
                {#{% if style != 'advanced' and slide['image_text'] != '' %}#}
                    {#<div class='slider-text'>#}
                        {#<figcaption>{{ slide['image_text'] }}</figcaption>#}
                    {#</div>#}
                {#{% endif %}#}
            {#</a>#}
            {#{% if style == 'advanced' %}#}
                {#<div class='slider-text'>#}
                    {#<figcaption>#}
                        {#{{ movies[slide.movie_id].name }} - {{ movies[slide.movie_id].release|date('F j, Y') }}#}
                        {#<div class='sub-text'>{{ slide['image_text'] }}</div>#}
                    {#</figcaption>#}
                {#</div>#}
            {#{% endif %}#}
        {#</figure>#}
    {#{% endif %}#}
{#{% endfor %}#}
<figure class='slide'>
    <img src='assets/img/slide-1.jpg' alt='slide 1'/>
    <div class='slider-text'>
        <p>Now playing</p>
        <figcaption>1917</figcaption>
        <a href="/" target='_self'>Buy tickets</a>
    </div>
</figure>
<figure class='slide'>
    <img src='assets/img/slide-1.jpg' alt='slide 1'/>
    <div class='slider-text'>
        <p>Now playing</p>
        <figcaption>1917</figcaption>
        <a href="/" target='_self'>Buy tickets</a>
    </div>
</figure>