{% extends "common/base.twig" %}
{% block meta_title %}{{ parent() }} | Contact Us {% endblock %}

{% block content %}
    <div id="main_wrapper">
        {{ include('common/header.twig') }}

        <div id="content" class="clearfix">
            <h1 class="titlebar new_titlebar">DONATION REQUESTS</h1>
            <br />
            <h4>Charitable Organizations Donation Request </h4>
            <br />
            <p>Donations are intended for not-for-profit organizations for the betterment of the program.  They are not intended for for-profit businesses and organizations including meetings, holiday parties, employee incentives or customer rewards.</p><br />

            {{ include('forms/donation_form.twig') }}
        </div>
        {{ include('parts/promotions.twig') }}
        {{ include('common/footer.twig') }}
    </div>
{% endblock %}