{% extends "common/base.twig" %}

{% block meta_title %}{{ parent() }} | Locations {% endblock %}

{% block content %}
<div id="main_wrapper">
    {{ include('common/header.twig') }}

    <div id="content">
        {% set houses = data.houses|sortByState %}

        {% for state in houses %}
            <h1 class='titlebar'>{{ state.state }}</h1>

            {% for house in state.houses %}
                <a href='{{- house['url'] -}}' class='nounderline'>
                    <div class='location_bar'>
                        <div class='button'>CLick for Showtimes</div>
                        {{ house.name }} - {{ house.city -}}, {{ house.state_short }}<br>
                        <span>{{ house.address }}</span>
                    </div>
                </a>
            {% endfor %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>

    {{ include('parts/promotions.twig') }}

    {{ include('common/footer.twig') }}

</div>

{% endblock %}
