{%- if icons.facebook.link is defined and icons.facebook.link != '' -%}
    <a href='{{ icons.facebook.link }}' target='_blank'>
        <img src='/assets/img/facebook.png' class='svg social-icon' width="30" height="30">
    </a>
{%- endif %}
{% if icons.twitter.link is defined and icons.twitter.link != '' -%}
    <a href='{{ icons.twitter.link }}' target='_blank'>
        <img src='/assets/img/twitter.png' class='svg social-icon' width="30" height="30">
    </a>
{%- endif %}
{% if icons.instagram.link is defined and icons.instagram.link != '' -%}
    <a href='{{ icons.instagram.link }}' target='_blank'>
        <img src='/assets/img/instagram.png' class='svg social-icon' width="30" height="30">
    </a>
{%- endif %}
{% if icons.pintrest.link is defined and icons.pintrest.link != '' -%}
    <a href='{{ icons.pintrest.link }}' target='_blank'>
        <img src='{{ icons.pintrest.img }}' class='svg social-icon' width="30" height="30">
    </a>
{%- endif %}
{% if icons.google_plus.link is defined and icons.google_plus.link != '' -%}
    <a href='{{ icons.google_plus.link }}' target='_blank'>
        <img src='/assets/img/googlePlus.png' class='svg social-icon' width="30" height="30">
    </a>
{%- endif %}
{% if icons.site_google_plus.link is defined and icons.site_google_plus.link != '' -%}
    <a href='{{ icons.site_google_plus.link }}' target='_blank'>
        <img src='/assets/img/googlePlus.png' class='svg social-icon' width="30" height="30">
    </a>
{%- endif %}