<div class="ftab {{ key_date }}">
    <div class="frow">
        <div class="fcel celtags">
            <div>
                {{ format_key }}
                <span class="double-format">Double Feature</span>
            </div>
        </div>
        <div class="fcel-container">
            {% for movie_id, movie_val in showdates|showtimesSortByTime %}
                <div class="grouped-times">
                    <div class="movie-name">{{ _movies[movie_id] }}</div>
                    {% for time in movie_val %}
                        <div class="fcel">
                            {% if time.details.soldout is defined %}
                                <span class="seance hr_seance soldout sc_mor">
                                <span class="hor">
                                    {{ include('helper/time.twig', {time: time.time, site: site}, with_context = false) }}
                                </span>
                            </span>
                            {% elseif not time.details.expired and time.details.link is defined %}
                                <a href="{{ time.details.link }}" class="seance hr_seance sc_mor">
                                <span class="hor">
                                    {{ include('helper/time.twig', {time: time.time, site: site}, with_context = false) }}
                                </span>
                                    <div class="infos_seance"></div>
                                </a>
                            {% else %}
                                <span class="seance hr_seance past sc_mor">
                                <span class="hor">
                                    {{ include('helper/time.twig', {time: time.time, site: site}, with_context = false) }}
                                </span>
                            </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
