{% extends "common/base.twig" %}
{% set this_movie = data.movies.movies[this_page.movie_id] %}
{% block meta_title %}{{ parent() }} | Movie | {{ this_movie.name }}{% endblock %}

{% block css %}
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

    {{ parent() }}
{% endblock %}

{% block js_scripts %}
    {{ parent() }}

    <!-- Slick Slider -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
{% endblock %}

{% block content %}
    {{ include('common/header.twig') }}
    <div id="wrapper">
        <main id="main-content" class="clearfix">
            <header id="movie-header">
                <h1>{{ this_movie.name }}</h1>
                {{ this_movie.mpaa }} | {% if this_movie.runtime !='' %}{{ this_movie.runtime|date('g\\h\\. i\\m\\i\\n\\.') }}<br>{% endif %}
                {% if this_movie.release > 'now'|date('Y-m-d') %}Opens {% else %}Opened {% endif %}
                {{ this_movie.release|date('l, F jS') }}
            </header>
            <div class="width-wrapper">
                <section id="movie-details">
                    <img src="{{- this_movie.poster -}}" class="poster" alt="Poster of {{ this_movie.name }}">
                    {% if this_movie.trailer.url is not empty %}
                        <a href='/trailer/{{- this_movie.trailer.url -}}' target='_blank' id='play-trailer' data-fancybox-type='iframe'
                           title='{{ this_movie.name }}'/>
                        <div id='trailer'>
                            <img src='{{- this_movie.trailer.image }}' id='trailer-thumbnail' alt='Still of {{- this_movie.name }}'>
                        </div>
                        </a>
                    {% else %}
                        <div id='missing-trailer'>
                            <img src='{{- this_movie.trailer.image }}' id='trailer-thumbnail' alt='Missing Still image'>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    {% if this_movie.synopsis != '' %}
                        <h2>Synopsis</h2><span class='detail'>{{ this_movie.synopsis|raw }}</span>
                    {% endif %}
                    {% if this_movie.director != '' %}
                        <h2>Director</h2><span class='detail'>{{ this_movie.director }}</span>
                    {% endif %}
                    {% if this_movie.actors %}
                        <h2>Cast</h2><span class='detail'>{{ this_movie.actors|slice(0, 5)|join(', ') }}</span>
                    {% endif %}
                    {% if this_movie.mpaa != '' %}
                        <h2>Advisory</h2>
                        <span class='detail'>
                            Rated {{ this_movie.mpaa }} {% if this_movie.advisory != '' %}{{ this_movie.advisory }}{% endif %}
                        </span>
                    {% endif %}
                </section>

                <aside id="movie-details-side">
                    {{ include('parts/showdates_movie.twig', {showdates: data.showdates, movie_id: this_page.movie_id, houses: data.houses}, false) }}
                </aside>
            </div>
        </main>
        {{ include('common/footer.twig') }}
    </div>
{% endblock %}
{% block js_scripts_footer %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if($("#movie-houses").children('option').length < 2){
                $("#movie-showdates").children('option').eq(1).prop('selected', true);
                $('#movie-showdates').attr('disabled', false);

                var class_name = "location_date";
                //get data-attribute 'date' of clicked button
                var sel_date = $("#movie-showdates").val();

                //calls function from /assets/js/functions.js
                var sel_house = $('#movie-houses').find(":selected").val();
                openDate(sel_date, class_name);
                $('.theater').hide();
                $('#'+sel_house+'.theater').show();
            }

            $('#movie-houses').on('change', function () {
                //get data-attribute 'date' of clicked button
                var sel_house = $(this).val();
                if (sel_house != '') {

                    $('#movie-showdates').children('option').hide();
                    $('#movie-showdates').children('option[id=' + sel_house + ']').show();

                    $('#movie-showdates').attr('disabled', false);
                    $('#movie-showdates').val($('#movie-showdates option:visible:first').val());

                    $("#movie-showdates").children('option[id=' + sel_house + ']').eq(1).prop('selected', true);

                    var class_name = "location_date";
                    //get data-attribute 'date' of clicked button
                    var sel_date = $("#movie-showdates").val();

                    //calls function from /assets/js/functions.js
                    var sel_house = $('#movie-houses').find(":selected").val();
                    openDate(sel_date, class_name);
                    $('.theater').hide();
                    $('#'+sel_house+'.theater').show();

                }
                else {
                    $('.theater').hide();
                    $("#movie-showdates").children('option').eq(0).prop('selected', true);
                    $('#movie-showdates').attr('disabled', true);
                }
                //prevent default
                return false;
            });

            //change date on button click
            $('#movie-showdates').on('change', function () {
                var class_name = "location_date";
                //get data-attribute 'date' of clicked button
                var sel_date = $(this).val();

                //calls function from /assets/js/functions.js
                var sel_house = $('#movie-houses').find(":selected").val();
                openDate(sel_date, class_name);
                $('.theater').hide();
                $('#'+sel_house+'.theater').show();

                //prevent default
                return false;
            });

            //load initial showtimes
            //$('#movie-showdates option:first').trigger('change');
        });
    </script>
{% endblock %}