{% for slide in slides %}
	<figure class='slide'>
		<a href='{{- slide.url -}}' target='{{- slide.target -}}'>
        	<img src='{{- slide.image -}}' alt='{{- slide['altTag'] -}}' />
            {% if slide['image_text'] != '' %}
                <div class='slider-text'><figcaption>{{ slide['image_text'] }}</figcaption></div>
            {% endif %}
        </a>
	</figure>
{% endfor %}