{% for nav_item in this_page.header.top_nav %}
    {%- if nav_item['sub_nav'] is defined -%}
        <li class='sub-nav-container'>
            <a href='#'>{{ nav_item['name'] }}</a>
            <ul class='sub-nav'>
                {% for sub_item in nav_item['sub_nav'] %}
                    <li>
                        <a href='{{- sub_item['url'] -}}' {{ sub_item['target'] }}>{{ sub_item['name'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {%- else -%}
        <li>
            <a href='{{- nav_item['url'] -}}' {{ nav_item['target'] }}>{{ nav_item['name'] }}</a>
        </li>
    {%- endif -%}
{% endfor %}