{% extends 'common/base.twig' %}
{% set page_class = "page page-" ~ this_page.page_id %}
{% set page = data.pages[this_page.page_id] %}

{% block meta_title %}{{ parent() }} | {{ page.site_headline }} {% endblock %}

{% block content %}
    <div class="ct_head">
        <div class="wrap">
            <h1>{{ page.site_headline }}</h1>
        </div>
    </div>
    {% set slides_page_name = 'Page-' ~ this_page.page_id %}
    {% if data.slides.slides[slides_page_name]['images'] is defined %}
        {{ include('helper/home-slides.twig', {slides: data.slides.slides[slides_page_name]['images'], movies:[],ticketing:0}, with_context = false)  }}
    {% endif %}

    <div id="fxp-content">

        {# if page.type == 'contact' %}
            {{ include('parts/contact.twig') #}
        {% if page.type == 'mpaa' %}
            {{ include('parts/mpaa.twig') }}
        {% elseif page.type == 'newsletter' %}
            {{ page.content|raw }}
            {#<iframe src="https://csxutils.fbmovies.cinema-source.com/subscribe/?cust_id={{- site.config['cust_id'] -}}" id="newsletter"></iframe>#}
        {% else %}
            {{ page.content|raw }}
        {% endif %}
    </div>

{% endblock %}