{% extends "common/base.twig" %}
{% set house = data.houses[this_page.house_id] %}
{% block meta_title %}{{ parent() }} | Theater | {{ house.name }} {% endblock %}

{% block css %}
    <!-- Slick Slider -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    
    {{ parent() }}
{% endblock %}

{% block js_scripts %}
	{{ parent() }}
	
    <!-- Slick Slider -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    
{% endblock %}
{% block content %}
    {{ include('common/header.twig') }}
	<div id="location-header" class="clearfix">
		<h1>{{ house.name }}</h1>
		<p>{{ house.address }} <br />
            {{ house.city -}}, {{ house.state_short }} {{ house.zip }}</p>
	</div>
	<div id="wrapper">
		<main id="main-content" class="clearfix">
        
        <!--Pull location page content-->

			<div class="width-wrapper">
				<div class="placeholder-728">
					<div id='gpt-rd-leaderboard'>
						<script type='text/javascript'>
							googletag.cmd.push(function() { googletag.display('gpt-rd-leaderboard'); });
						</script>
					</div>
				</div>
                {% if house.message_page_id is defined and house.message_page_id != '' %}
                <div id="fxp-message">
					{{ data.pages[house.message_page_id].content|raw }}
				</div>
                {% endif %}				
				<div id="content-slider" class="clearfix">
                    {% set location_slide_category = 'Location-' ~ house.house_id %}
                    {% if house.slides[location_slide_category]['images'] is defined %}
                        {{ include('helper/slider.twig', {slides: house.slides[location_slide_category]['images']}, with_context = false) }}
                    {% endif %}
				</div>
				<section id="theatre-info">
					<h2>Theatre Information</h2>
					<div class='info-col'>
						<img src='{{- house.photo -}}' id='theatre-image' alt='Image of {{ house.name }}'>
					</div>
					<div class="info-col">
                        {{ include('helper/social_media.twig', {icons: house.social_icons}, with_context = false)  }}
						{{ house.address }} <br />
                        {{ house.city -}}, {{ house.state_short }} {{ house.zip }} <br />
                        
						{% if house['phone'] != '0' and house['phone'] != '' %}
                        	Main Phone: {{ house['phone'] }}<br />
                        {% endif %}
                        
						Movieline: {{ house.movieline }}<br />
						
                        {% if house.map.url %}
                        	<a href="{{- house.map.url -}}" target="_blank">
								<button id="get-directions">Click here for directions!</button>
							</a>
                        {% endif %}
                        {% if house.amenities is not empty %}
                        	<h2>Amenities</h2> {{ include('helper/amenities.twig', {amenities: house.amenities}, with_context = false)  }}<br />
                        {% endif %}
					</div>
					<div class="info-col">
                    	{% if house.prices is not empty %}
                        	<h2>Prices</h2> {{ include('helper/prices.twig', {prices: house.prices}, with_context = false)  }}
                        {% endif %}
                        {% if house.policies is not empty %}
                        	<h2>Policies</h2><span id='policies'>{{ house.policies }}</span>
                        {% endif %}
					</div>
					
					<div class="placeholder-300">
						<div id='gpt-rd-box'>
							<script type='text/javascript'>
								googletag.cmd.push(function() { googletag.display('gpt-rd-box'); });
							</script>
						</div>
					</div>
				</section>
				
				<article id="showtimes-container" class="clearfix">
                    {{- include('parts/showdates_house.twig', {showdates: data.showdates, house_id:this_page.house_id, movies: data.movies }, false) -}}
				</article>
			</div>
        
        </main>
    	{{ include('common/footer.twig') }}
    </div>
{% endblock %}
{% block js_scripts_footer %}
	{{ parent() }}
<script>
    $(document).ready(function() {

        //start location page slider
        $('#content-slider').slick({
            autoplay:    	true,
            fade:        	true,
            css:     		'linear',
            arrows:      	true,
        });
        //start showdate carousel
        $('#showdates').slick(carouselSettings(false, false));

        //change date on button click
        $('.showdate').on('click', function(){
            $('.showdate').removeClass('showdate-selected');
            $(this).addClass('showdate-selected');

            var sel_date = $(this).data("date");
            var class_name = "location_date";
            openDate(sel_date, class_name);

            //prevent default
            return false;
        });

        //load initial showtimes
        $('.showdate:first').trigger('click');
    });
</script>
{% endblock %}